a{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    width: 1280px;
    background-color: red;
    justify-content: space-between;
}
.logo img{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: green;
}
ul{
    background-color: #1d1d1d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 0;
    height: 50px;
    width: 50%;
    padding-top: 10px;

    display: flex;
    justify-content: space-around;
}
.container{
    background-color: #111;
}
.home{
    display: flex;
    height: 50vh;
    width: 100%;
}
.home-left{
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.home-left .home-row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.sub-titulo{
    text-align: center;
    font-size: 14px;
    color: #ccc;
}
button{
    opacity: .7;
    height: 30px;
    width: 120px;
    transition: .5s;
    border: none;
    border-radius: 7px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
button img{
    width: 50px;
    right: 10px;
    left: 40px;
}
button span{
    color: white;
    margin-right: 20px;
}

button:hover{
    opacity: 1;
    cursor: pointer;
    background-color: green;
    transform: scale(1.03);
}
    

.home-right{
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right-item-l{
    width: 50%;
    height: 100%;
    padding: 20px;
    /* background-color: blue; */

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.right-square img{
    height: 134px;
    width: 166px;
    object-fit: cover;

    border-radius: 20px;

}

.right-rectangle img{
    height: 268px;
    width: 166px;

    border-radius: 20px;
}

.right-item-2{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    /* background-color: green; */
}

.right-item-3{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: yellow; */
}

@media (max-width: 768px){
    .home{
        flex-direction: column;
        margin-top: 150px;
        justify-content: center;
        align-items: center;
    }
    ul{  display: none; }
    header{
        gap: 20px;
        justify-content: center;
    }
    .home-left{ display: none;}
    .home-right{
        margin-left: -50px;
        width: 60%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .right-rectangle img, .right-square img{
        height: 268px;
        width: 136px;
    }
}
/* 
@media (max-width: 450px){
    .home{
        margin-top: 220px;
    }

    .home-right{
        width: 100%;
    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .tree-1{
        top: -565px;
        right: 80px;
        position: absolute;
    }

    .tree-2{
        bottom: 80px;
        right: -100px;
        position: absolute;
    }

} */